.chartjs-tooltip{
	position: absolute;
	border: 6px solid #D3EAFDed;
	border-radius: 16px;
	pointer-events: none;
	transform:translateY(-50%);
	background-color: white;
	/* min-width: 204px; */

}
.tooltip-content {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	padding: 8px;
}
.tooltip-content p{
	margin:0;
}
.product{
	font-size: 12px;
	font-weight:400;
	display: flex;
	justify-content: space-between;
	column-gap: 40px;

}
.product__name{
	color: #707070;

}
.product__value{
color:#353535;
}
